<!DOCTYPE html>
<html>
  <head>
    <title>SiteLogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script src="https://cdn.tailwindcss.com"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white min-h-screen">
    <div class="fixed inset-0 border-4 border-black pointer-events-none z-[9999]"></div>
    <main class="container mx-auto px-4 py-8 max-w-md">
      <%= yield %>
    </main>
  </body>
</html>