<!DOCTYPE html>
<html>
  <head>
    <title>TalkInvoice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script src="https://cdn.tailwindcss.com"></script>

    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" href="/favicon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css">
  </head>

  <body class="bg-white">

    <main class="container mx-auto px-0 md:px-4 py-0 md:py-8 max-w-md md:max-w-6xl">
      <%= yield %>
    </main>
  </body>
</html>